.boxes{
    background-color: black;
    border: solid 2px black;
    height: 30vh;
    width: 240px;
}
.box{
background-color: rgb(213, 6, 6);
border: solid 2px rgb(215, 12, 12);
height: 30vh;
width: 240px;
}   
.hame{
    display: flex;
}
@media only screen and (max-width:100px) {
    .hame{
        flex-direction: column;
    }
}